.error-message {
    color: red;
}

.roomlist-prompt-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.roomlist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-input {
    max-width: 75%;
    min-width: 75%;
}

.roomlist-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.winner-message {
    position: absolute;
    margin: 0 -10%;
    top: 40%;
    z-index: 500;
    background-color: rgb(255,255,255);
    padding: 2rem;
    border: 1px solid black;
    border-radius: 50px;
}
