.App {
  text-align: center;
  background-color:  #00A6FB;
  height: 100vh;
}


.nav-buttons {
  color: black;
}

.nav-buttons:hover {
  border-bottom: 0.5px solid black;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid black;
  align-items: center;
  font-weight: 200;
  font-size: 1rem;
  background-color: white;
}

.nav-greeting {
  align-self: center;
  color: black;
}

.nav-greeting:hover {
  border-bottom: 0.5px solid black;
}

.fa-paint-brush {
  font-size: 1rem;
  align-self: center;
  margin: 0 0.4rem 0 1rem;
}

.nav-title-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.nav-title {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: 800;
  margin: 0.5rem;
}

.links-container {
  display: flex;
  justify-content: space-around;
}

.links-container a {
  margin: 0 1rem;
}




