.App {
  text-align: center;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
}

.links-container {
  display: flex;
  justify-content: space-around;
}

.links-container a {
  margin: 0 1rem;
}
